body{ background: black;
    color: white;
}
/* =============== index =========> */
.meal{
    
    overflow: hidden;
}
.imageLayer{
    top: 100%;
   width: 100%;
   height: 100%;
  background-color: white;
  color: black;
}
.meal:hover .imageLayer{
 top: 0;
transition: top .5s;
opacity: 70%;
cursor: pointer;
}
/* ===========search============> */
.search input::placeholder{
    color: white;
}
/* =========== index =======> */
#nav{
    position: fixed;
   top: 0;
   bottom: 0;
  

   z-index: 999;
}
#nav .navAppear{
    width: 50px;
    
}
#nav .navAppear i{
    cursor: pointer;
}
#nav .navHidden{
    min-width: 200px;
 height: 100%;
    background-color: brown;
}
#nav .navHidden a{
    text-decoration: none;
    color: white;
    margin-block: 1rem;
}
.col-md-3{
    cursor: pointer;
}/* =========== details =======> */
.details h3{margin-bottom:1rem;}


/* =========== Shared =======> */
.loading{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
  }
  .loader::after {
    border-color: #FF3D00;
    animation-delay: 1s;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

